---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="من نحن"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("March 01 2024")}
  heroImage="/about us.png"
>
  <h1>
    فلة هي شركة عراقية متخصصة بتصميم وتنسيق الحدائق تقدم طيف متنوع من الخدمات
    الخاصة بالحدائق من زرع وتقليم وتسميد …الخ تهدف الشركة بتاسيس بيئة خضراء
    جميلة للعوائل
  </h1>
</Layout>
