---

---
<section id="features">
      <div class="row">
        <h1>خدماتنا</h1>
      </div>
      <div class="row">
        <!-- Column One -->
        <div class="column">
          <div class="card">
            <div class="icon">
              <img src="/icons/lawnmower-svgrepo-com.svg" alt="lawnmower">
            </div>
            <h3>قص العشب</h3>
            <p>
             نقوم بتقديم خدمة قص العشب باستخدام معدات حديثة وفريق من ذوي الخبرة للحفاظ على انتظام العشب وجماله.
            </p>
          </div>
        </div>
        <!-- Column Two -->
        <div class="column">
          <div class="card">
            <div class="icon">
              <img src="/icons/tree-decorated-alt-1-svgrepo-com.svg" alt="tree">
            </div>
            <h3>تقديم الأشجار والشجيرات</h3>
            <p>
             نقوم بتقديم خدمات تشذيب وتقليم الأشجار والشجيرات للمحافظة على شكلها وصحتها.
            </p>
          </div>
        </div>
        <!-- Column Three -->
        <div class="column">
          <div class="card">
            <div class="icon">
             <img src="/icons/watering-can-4-svgrepo-com.svg" alt="Watering">
            </div>
            <h3>ري الحدائق</h3>
            <p>
              
نضمن توفير كمية مثالية من الماء لحدائقكم للحفاظ على نضارة النباتات والعشب.
            </p>
          </div>
        </div>
         <!-- Column One -->
        <div class="column">
          <div class="card">
            <div class="icon">
                           <img src="/icons/cleaning-svgrepo-com.svg" alt="Cleaning">

            </div>
            <h3>تنظيف وصيانة</h3>
            <p>
              
نقوم بإزالة الأوراق الميتة والفروع والأمور الزائدة للحفاظ على نظافة الحديقة ومظهرها الجميل.
            </p>
          </div>
        </div>
        <!-- Column Two -->
        <div class="column">
          <div class="card">
            <div class="icon">
             <img src="/icons/fertilizer-bag-svgrepo-com.svg" alt="Fertilizer">
            </div>
            <h3>تسميد وعلاجات</h3>
            <p>
             
نستخدم الأسمدة العالية الجودة والعلاجات المخصصة لضمان نمو سليم وصحة النباتات.
            </p>
          </div>
        </div>
        <!-- Column Three -->
        <div class="column">
          <div class="card">
            <div class="icon">
              <img src="/icons/design-svgrepo-com.svg" alt="Design">
            </div>
            <h3>تصميم وتنسيق الحدائق</h3>
            <p>
              
إذا كنتم تبحثون عن تحسين تصميم حديقتكم أو تنسيقها بشكل مبتكر، نحن هنا لنساعدكم.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
       
      </div>
    </section>
    <style>
      section{
        min-height: 100vh;
      }
        .row {
  display: flex;
  flex-wrap: wrap;
  /* margin-bottom: 1rem; */
}
.row h1 {
  width: 100%;
  text-align: center;
  font-size: 3.75em;
  margin: 0.6em 0;
  font-weight: 600;
  color: #070024;
}
.column {
  /* display: flex; */
  padding: 1em;
  flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1em;
    margin:1rem auto;
}
.card {
  padding: 3.1em 1.25em;
  max-width: 417px;
  max-height: 350px;
  text-align: center;
  background: linear-gradient(0deg, var(--main-bg-color) 10px, transparent 10px);
  background-repeat: no-repeat;
  background-position: 0 1em;
  box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.15);
  border-radius: 0.5em;
  transition: 0.5s;
  cursor: pointer;
  margin: 0rem auto;
}
.card .icon {
  font-size: 2.5em;
  height: 2em;
  width: 2em;
  margin: auto;
  /* background-color: var(--main-bg-color); */
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: #ffffff;
}
.icon img{
  width:100%;
}

.card h3 {
  font-size: 1.3em;
  margin: 1em 0 1.4em 0;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: #070024;
}
.card p {
  line-height: 2em;
  color: #625a71;
 max-width: 270px;
 margin-left: auto;
 margin-right: auto;
}
.card:hover {
  background-position: 0;
}
.card:hover .icon:before {
  height: 2.25em;
  width: 2.25em;
}
@media screen and (min-width: 768px) {
  section {
    padding: 1em 3em;
  }
  .column {
    flex: 0 0 50%;
    max-width: 50%;
    /* padding: 0 1em; */
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em;
  }
  .card {
    padding: 2.5em 2em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    /* padding: 0 1em; */
  }
}
    </style>