---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
			
			<div class="internal-links">
				<a href="/">خدمات</a>
				<HeaderLink href="/blog">مدونة</HeaderLink>
				<HeaderLink href="/about">من نحن</HeaderLink>
				<a>السعر</a>
			</div>
			
		
	</nav>
</header>
<style>
	header {
		margin: 1rem 2rem;
		padding: 0.5rem;
		color:white;
		
	}
	nav h2 a{
		margin: 0;
		font-size: 3rem;
	}

	
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		
		color: white;
		font-size:2.2rem;
		text-decoration: none;
	}
	.internal-links a{
		padding:0.5rem;
		margin-left: 1rem;
		margin-right: 1rem;
		font-weight: 300;
	}
	.internal-links a:last-child{
		margin-left:0;
	}
	
	
	
</style>
