---

---
<section id="pricing">
    <h1>احجز</h1>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSda9fbbRyQYGNsyoc1EYvObQAdjxij0Ami7sYkxxSF6PYqNOQ/viewform?embedded=true" width="840" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</section>
<style>
    h1{
    width: 100%;
    text-align: center;
    font-size: 3.75em;
    margin: 0.6em 0;
    font-weight: 600;
    color: #070024;
    }
    #pricing{
        text-align: center;
    }
    iframe{
        max-width: 80%;
    }
</style>